@model EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "ProductInfo";
    Layout = "~/Views/Shared/StoreLayout.cshtml";
}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Home/Index"><i class="fa fa-home"></i>Ana Sayfa</a>
                    <a href="/Product/Index">Mağaza</a>
                    <span>@Model.ProductName</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <!-- Ana resim -->
                        <a class="pt active" href="#product-1">
                            <img src="/images/@Model.MainProductImage" alt="">
                        </a>

                        <!-- Diğer resimler -->
                        @foreach (var additionalImage in Model.AdditionalImages)
                        {
                            <a class="pt" href="#product-@(additionalImage.ImageID)">
                                <img src="/images/@additionalImage.ImagePath" alt="">
                            </a>
                        }
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <!-- Ana resim -->
                            <img data-hash="product-1" class="product__big__img" src="/images/@Model.MainProductImage" alt="">

                            <!-- Diğer resimler -->
                            @foreach (var additionalImage in Model.AdditionalImages)
                            {
                                <img data-hash="product-@(additionalImage.ImageID)" class="product__big__img" src="/images/@additionalImage.ImagePath" alt="">
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="product__details__text">
                    <form method="post" action="/Cart/AddToCart">
                        <h3>@Model.ProductName <span>Marka: @Model.ProductBrand</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 yorum )</span>
                        </div>
                        @*<div class="product__details__price">$ 75.0 <span>$ 83.0</span></div>*@
                        <div class="product__details__price">@Model.ProductPrice ₺</div>
                        <p>
                            @Model.ProductDetail
                        </p>
                        <div class="product__details__button">
                            @if (Model.ProductDetails.Any(detail => detail.ProductStock > 0))
                            {
                                <div class="quantity">
                                    <span>Adet:</span>

                                    <input type="hidden" name="ProductID" value="@Model.ProductDetails.FirstOrDefault().ProductStock">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>

                                </div>

                                <input type="submit" class="cart-btn" value="Sepete Ekle">

                            }
                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>

                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Stok:</span>

                                    <p>
                                        @if (Model.ProductDetail != null && Model.ProductDetails.Any(detail => detail.ProductStock > 0))
                                        {
                                            <text>Stokta Var</text>
                                        }
                                        else
                                        {
                                            <text>Stokta Yok</text>
                                        }
                                    </p>

                                </li>
                                @if (Model.ProductDetails.Any(detail => detail.ProductStock > 0))
                                {
                                    <li>
                                        <span>Mevcut Renkler:</span>
                                        <input type="hidden" name="ProductColor" value="@Model.ProductDetails.FirstOrDefault().ProductColor">
                                        <div class="color__checkbox">
                                            @foreach (var color in Model.ProductDetails
                                     .Where(detail => detail.ProductStock > 0)
                                     .Select(detail => detail.ProductColor)
                                     .Distinct())
                                            {
                                                var lowerCaseColor = color.ToLower();
                                                var cssClass = lowerCaseColor switch
                                                {
                                                    "siyah" => "black-bg",
                                                    "mavi" => "blue-bg",
                                                    "kırmızı" => "red-bg",
                                                    "sarı" => "yellow-bg",
                                                    "beyaz" => "gray-light-bg", // Hafif gri tonu
                                                    _ => "unknown-color",
                                                };

                                                <label for="@lowerCaseColor">
                                                    <input type="radio" name="color__radio" id="@lowerCaseColor">
                                                    <span class="checkmark @cssClass"></span>
                                                </label>
                                            }
                                        </div>
                                    </li>
                                }

                                @if (Model.ProductDetails.Any(detail => detail.ProductStock > 0))
                                {
                            <li>
                                <span>Mevcut Bedenler:</span>
                                <input type="hidden" name="ProductSize" value="@Model.ProductDetails.FirstOrDefault().ProductSize">

                                <div class="size__btn">
                                    @if (Model.ProductDetails.Any())
                                    {
                                        @foreach (var size in Model.ProductDetails
                     .Select(detail => detail.ProductSize)
                     .Distinct()
                     .OrderBy(size => GetSizeOrder(size)))
                                        {
                                            var isAvailable = Model.ProductDetails.Any(detail => detail.ProductSize == size && detail.ProductStock > 0);
                                            var inputId = $"{size.ToLower()}-size";
                                            <label for="@inputId" @(isAvailable ? "class='active'" : "")>
                                                <input type="radio" id="@inputId" @(isAvailable ? "checked" : "")>
                                                @size
                                            </label>
                                        }
                                    }
                                </div>

                            </li>
                                }
                                @functions {
                                    // Beden sıralama fonksiyonu
                                    int GetSizeOrder(string size)
                                    {
                                        switch (size)
                                        {
                                            case "XS": return 0;
                                            case "S": return 1;
                                            case "M": return 2;
                                            case "L": return 3;
                                            case "XL": return 4;
                                            case "XXL": return 5;
                                            default: return int.MaxValue; // Bilinmeyen bedenleri en sona koy
                                        }
                                    }
                                }
                                @if (Model.ProductFreeShippingInfo)
                                {
                                    <li>
                                        <span>Kargo:</span>
                                        <p>
                                            <span>Ücretsiz Kargo</span>

                                        </p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </form>
                </div>
        
            </div>



            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h6>Description</h6>
                            <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.
                            </p>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <h6>Specification</h6>
                            <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.
                            </p>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h6>Reviews ( 2 )</h6>
                            <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>RELATED PRODUCTS</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion-master/img/product/related/rp-1.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="/ashion-master/img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion-master/img/product/related/rp-2.jpg">
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion-master/img/product/related/rp-3.jpg">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion-master/img/product/related/rp-4.jpg">
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
